<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head> 
  	<title>Product Form</title>
  </head>
  <body>
    <div class="container p-5">
      <h1>Add a new Product</h1>
      <form action="add" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleFormControlCategory" class="form-label"
            >Product Category:
          </label>
          <select
            class="form-select mb-3"
            aria-label="Default select example"
            id="exampleFormControlCategory"
            name="category"
          >
            <option selected>Open this select menu</option>
            <option
              th:each="category:${categories}"
              th:value="${category.id}"
              th:text="${category.name}"
            ></option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Product Name:
          </label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="productName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Product Manufacturer:
          </label>
          <input
            type="text"
            name="manufacturer"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Manufacturer"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">SKU: </label>
          <input
            type="text"
            name="sku"
            class="form-control"
            id="exampleFormControlInput2"
            placeholder="sku"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea3" class="form-label"
            >Description:</label
          >
          <textarea
            class="form-control"
            name="description"
            id="exampleFormControlTextarea3"
            rows="3"
            placeholder="Product Description..."
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea4" class="form-label"
            >Unit Price:</label
          >
          <input
            type="number"
            name="unitPrice"
            class="form-control"
            id="exampleFormControlInput4"
          />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Product Image:</label>
          <input class="form-control" name="image" type="file" id="formFile" />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Is Active:</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="active"
              id="flexRadioDefault1"
              value="true"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="active"
              id="flexRadioDefault2"
              value="false"
            />
            <label class="form-check-label" for="flexRadioDefault2"> No </label>
          </div>
        </div>
        <!--unitsInStock-->
        <div class="mb-3">
          <label for="exampleFormControlTextarea4" class="form-label"
            >Units in Stock:</label
          >
          <input
            type="text"
            name="unitsInStock"
            class="form-control"
            id="exampleFormControlInput4"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
